<!DOCTYPE html>
<html>
  <head>
    <title>Info sur un pays</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); %>
  <h1>Toutes les infos disponibles sur un pays donné (ex : France)</h1>
  <table class="table_af">
      <tr>
          <th>Nom</th>
          <th>Région</th>
          <th>Superficie</th>
          <th>Langue</th>
      </tr>
          <%
          var list = '';
          
              for (i = 0; i < countries.length; i++) {
                  list += '<tr><td>' + countries[i].nom + '</td><td>' + countries[i].regionc + '</td><td>' + countries[i].superficie + '</td><td>' + countries[i].langues.fra + '</td></tr>';
              }
          %>
          <%- list %>
  </table>
</body>
</html>
