<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); %>
  <h1>Toutes les infos disponibles sur un pays donné </h1>
  <table class="table_af">
      <tr>
          <th>Nom</th>
          <th>Allinfos</th>
      </tr>
          <%
              nb=0;
              for (i = 0; i < countries.length; i++) {%>
                  <tr><td><%=countries[i].nom.common%></td></tr><%
              }
          %>
  </table>
</body>
</html>
