<!DOCTYPE html>
<html>
  <head>
    <title>Nom selon lettre</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('header'); %>
    <h1>Noms des pays selon une lettre donnée (ex: F) :</h1>
        <table class="table_af">
            <tr>
                <th>Nom</th>
            </tr>
                <%
                    var list = '';
                        for (i = 0; i < countries.length; i++) {
						if(countries[i].nom[0]=='F'){
                                list += '<tr><td>' + countries[i].nom + '</td></tr>';
                        }
						}
                %>
                <%- list %>
        </table>
  </body>
</html>