<!DOCTYPE html>
<html>
  <head>
    <title>Nom selon lettre</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('header'); %>
    <h1>Noms des pays selon une lettre donnée :</h1>
    <form id="formPl" name="letter" method="post" action="/letter">
        <input id="pl" type="text" placeholder="Lettre" name="pl"/>
        <input type="submit" value="Recherche">
        <table class="table_af">
            <tr>
                <th>Nom</th>
            </tr>
                <%
                    var list = '';
                        for (i = 0; i < countries.length; i++) {
                            let txt = countries[i].nom;
                                list += '<tr><td>' + countries[i].nom + '</td></tr>';
                        }
                %>
                <%- list %>
        </table>
    </form>
  </body>
</html>